<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    <script>
      try {
        window.__REDUX_STATE__ = "<%-reduxData %>";
      } catch (e) {
        console.warn('error in getting server redux data');
      }
    </script>
    <script src="/index.bundle.js"></script>
  </body>
</html>
